Selected Word: {{ word_class }}<br />
<button type="button" class="change-text" id="new">New</button>
<button type="button" class="change-text" id="learning">Learning</button>
<button type="button" class="change-text" id="learned">Learned</button>
<button type="button" id="clear-text">Clear</button>

<script>
$(".change-text").unbind("click").click(function (){
    let progress = this.id
    console.log(this.id)
    $(".word_{{ word_class }}").each(function (){
        $(this).removeClass("new");
        $(this).removeClass("learning");
        $(this).removeClass("learned");
        $(this).addClass(progress);
    });
    // Callback to server
    $.get("/texts/word/{{ word_class }}?progress=" + progress)
});
$("#clear-text").unbind("click").click(function (){
        $(".word_{{ word_class }}").each(function (){
        $(this).removeClass("new");
        $(this).removeClass("learning");
        $(this).removeClass("learned");
    });
    // Callback to server
    $.get("/texts/word/{{ word_class }}")
})
</script>